*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    color: #323232;
    border: none;
}

body{
    background-image: url("../assets/alternativa.png");
    background-size: cover;
}
textarea, input{
    background-color: transparent;
}
textarea:focus, input:focus{
    outline: none;
}
label{
    font-size: 1rem;
}
#main-container{
    background: linear-gradient( 180deg, #FEB692, #EA5455 );
    width: 620px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    margin-top: 10vh;
    border-radius: 10px;
    text-align: center;
}
form{
    margin-top: 30px;
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}
.full-box{
    flex: 1 1 100%;
    position: relative;
}
.half-box{
    flex: 0 0 47%;
    position: relative;
}
label,input{
    display: block;
    width: 100%;
    text-align: left;
}
.box{
    display: flex;
    display: inline-block;
    width: auto;
}
label{
    font-weight: bold;
}
input{
    border-bottom: 2px solid #323232;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 30px;
}
input:focus{
    border-bottom: 2px solid #CD0404;
}
input[type="submit"]{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    height: 40px;
    border-radius: 20px;
    margin-top: 30px;
    color: #fff;
    background-color: #CD0404;
    cursor: pointer;
}
input[type="submit"]:hover{
    background-color: #B70404 ;
    transition: .5s
}
input[type="checkbox"]{
    width: 30px;
}

a{
    color: #CD0404;
}
a:hover{
    color: #B70404;
}
#agreement, #agreement-label{
    display: inline-block;
    width: auto;
}
.error-validation{
    color: #ff1a1a;
    position: absolute;
    top: 57px;
    font-size: .8rem;
}
.template{
    display: none;
}